div(class="mi-home__search js--search")
  div(class="mi-home__search--wrap")
    input(class="mi-home__search--input js--search-input", type="text", placeholder="Busca")
    div(class="mi-home__search--underline")
