head
  +metaTags()
  title MiPokedex
  link(rel='shortcut icon' href='assets/common/images/favicon.ico' type='image/x-icon')

  //- Resource Hints
  include ./_resource-hints.pug

  //- Styles
  block styles
    include ./_styles.pug
