extends ./_layouts/_base.pug

//- Template variables
block vars
  - var $templateName = 'home'
  - var $templateClass = 'home'

//- Page styles
block append styles
  link(href=`assets/css/mi-pokedex-${$templateName}.css`, media='all', rel='stylesheet')/

//- Main Content
block content
  div(class="mi-home__container")
    include ./_partials/home/_home-search.pug
    include ./_partials/home/_home-pokemons.pug

//- Page scripts
block append scripts
  script(src=`assets/js/mi-pokedex-${$templateName}.js`)
