nav(class="mi-navbar js--navbar")
  div(class="mi-navbar__container")
    h1(class="mi-navbar__heading") MiPokedex
    ul(class="mi-navbar__items")
      li(class="mi-navbar__item")
        a(class="mi-navbar__link", href="/") Pokemon
      li(class="mi-navbar__item")
        a(class="mi-navbar__link", href="//github.com/RNunes13/MiPokedex#readme") Sobre
